<div class="container">
    <div class="pop-up"><span class="login-header"><h3>Login</h3></span>
      <table class="login-table"><tr>
          <td><label>Username</label></td>
          <td><input [(ngModel)]="login.username" type="text" required ><br/></td></tr><tr>
           <td><label>Password</label></td>
           <td><input [(ngModel)]="login.password" type="password" required ></td></tr>
    </table>
    <span class="login-footer">
        <input type="button" class="btn btn-info" value="{{buttonTitle}}" 
        (click)="submitForm()"></span>
    </div>
</div>
