.container{
    margin-top: 2%;
    width:auto;
}
.container .pop-up{
    margin: auto;
    width: 30%;
    height: auto;
    border:1px solid black;
    padding:5%;
}
.container .pop-up span{
    text-align: center;
    display: block;
}
.container .pop-up .login-header{
    margin-bottom: 10%;
}
.container table{
    padding:10px;
}
.container .pop-up  .login-footer{
    margin-top:10%;
}
